###################
# Production
###################

backend.sock


###################
# React ignores
###################

#env
frontend/.env

# dependencies
frontend/node_modules/
frontend/.pnp
frontend.pnp.js

# testing
frontend/coverage/

# production
frontend/build/

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


###################
# Django Ignore
###################

# environment
.env
.vscode/* 

#static files
static/

# cache
backend/__pycache__/
blog/__pycache__/
details/__pycache__/

# media
media/_versions/
media/photos/
media/uploads/
